@charset "UTF-8";
body {margin: 0;}

footer {background-color: black; color: white; padding-bottom: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}

footer a {color: yellow; text-decoration: none;}
footer a:hover {text-decoration: underline;} 

footer div {display: flex; justify-content: center; height: 25px;}
#paragrafo3 {display: none;}
#paragrafo4 {display: none;}

@media (max-width: 850px) {
  #paragrafo2 {display: none;}
  #paragrafo3 {display: block;}
  #paragrafo3 div {display: flex; justify-content: center;}
  footer {padding-bottom: 50px;}
}

@media (max-width: 600px) {
  footer {font-size: .7em;}
}

@media (max-width: 410px) {
  #paragrafo1 {display: block; text-align: center;}
  #paragrafo1 .espaço {display: none;}
  #paragrafo3 {display: none;}
  #paragrafo4 {display: block;}
  #paragrafo4 div {display: flex; justify-content: center;}
}
