@charset "UTF-8";

* {margin: 0; padding: 0;}

html, body {height: 100vh; width: 100vw; background-color: black; margin: 0;}
body {background: url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
        background-size: cover}
main {height: 100vh; position: relative;}

/* voltar para a página principal */
#pagpri {text-align: right; padding-top: 10px; width: 98%;} 
#pagpri a {color: white; text-decoration: none;}
#pagpri a:hover {text-decoration: underline;}

#celular {height: 627px; width: 311px; position: absolute; 
            background: url('../imagens/frame-iphone.png') no-repeat;
            /* se usar o 'background-image' não funciona */
            top: 50%; left: 50%; transform: translate(-50%, -50%);}
       
#tela {position: relative; top: 80px; left: 22px; height: 471px; width: 266px;}

#redesocial, #sites {text-align: right; padding-top: 100px; padding-right: 300px;}

#redesocial img, #sites img {height: 50px; margin: 10px; border-radius: 50%; box-sizing: border-box}
/* 'box-sizing: border-box' deixa os botões fixos, os botões não se movem ao mesmo tempo */

#redesocial img:hover, #sites img:hover {border: 2px solid white; transform: translate(-5px, -5px);}
/* tem mais alguns detalhes com 'transition: transform' */

